# don't include the binaries
/bin

# don't include temporary or other miscellaneous local files
*~
*.swp
*.bak
*.orig

# don't include coverage files (including old ones)
/all.cov
/cover.html
/cover.out
pkg.cov

# don't include vendor cache etc.
/.build_gopath

# don't include templated files
/Makefile

